body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
  }

  section {
    padding: 2rem;
  }
  
  .product-image img {
    max-width: 45%;
  }
  
  .product-description {
    max-width: 500px;
  }
  
  button {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    box-shadow: #3d3d3d;
    border: #3d3d3d;
  }
  
  ul {
    list-style: disc;
    padding-left: 2rem;
  }
  
  .review {
    margin-bottom: 2rem;
  }
  
  .review h3 {
    margin: 0;
  }

  .single-product .col-2 img{
    padding: 0;
  }
  .single-product .col-2{
    padding: 20px;
  }
  .single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
  }
  .single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
  }
  .single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #3d3d3d;
  }
 
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .col-2{
    flex-basis: 50%;
    min-width: 300px;
  }
  .col-2 img{
    max-width: 100%;
    padding: 50px;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  
  .side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 10px;
  }
  
  .right {
    text-align: right;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  .bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
  .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
  
  .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  box-sizing: border-box;
  margin: 30px 30px;
  padding: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  padding: 9px 20px 8px;
  position: relative;
}

.button-31:hover,
.button-31:focus {
  opacity: .95;
}

.small-images{
    display: flex;
    justify-content: inherit;
    padding: 8px;
    align-items: center;
}

.image-box{
    margin: 0px 10px 10px 0px;
    height: 100px;
    width: 100px;
    cursor: pointer;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


